<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1079697679711-9i6abk73ljp416s8uha9keekh5e1biab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079697679711-9i6abk73ljp416s8uha9keekh5e1biab</string>
	<key>API_KEY</key>
	<string>AIzaSyBoml2yeSB4j1C9hirnjvFi-Z-Tksd2bhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1079697679711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fazzalootah.SkillShareHub</string>
	<key>PROJECT_ID</key>
	<string>skillsharehub-2c9f0</string>
	<key>STORAGE_BUCKET</key>
	<string>skillsharehub-2c9f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079697679711:ios:3df12133e1d9b3639142ea</string>
</dict>
</plist>